@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tooltip CSS */
:root {
    --p-tooltip-color: #F5F5F5;
    --p-tooltip-background: #707070;
    --p-tooltip-padding: .5rem .75rem;
    --p-tooltip-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
    --p-tooltip-border-radius: 6px;
    --p-tooltip-gutter: .25rem;
}
.p-tooltip {
    margin: .25rem;
}
.p-tooltip-arrow {
    border-width: var(--p-tooltip-gutter) var(--p-tooltip-gutter) var(--p-tooltip-gutter) 0;
    border-right-color: var(--p-tooltip-background);
}
.p-tooltip-text {
    white-space: pre-line;
    word-break: break-word;
    background: var(--p-tooltip-background);
    color: var(--p-tooltip-color);
    padding: var(--p-tooltip-padding);
    box-shadow: var(--p-tooltip-shadow);
    border-radius: var(--p-tooltip-border-radius);
}
